
.cabecalho_menu-hamburguer {
    width: 30px;
    height: 30px;
    background-image:url("../images/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho { 
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: auto;
    height: auto;
}

.container_botao:checked ~ .container_rotulo > .cabecalho_menu-hamburguer {
    background-image: url("../images/Menu\ Aberto.svg");
}

.container_botao:checked ~ .container_rotulo {
    background: var(--azul-degrade);
}

.container {
    display: flex;
    align-items: center;
} 

.container_imagem {
    padding: 1.0em;
}

.lista-menu {
    display: none;
    position: absolute;
    top:100%;
}

.container_botao{
    display: none;
}

.container_botao:checked~.lista-menu {
    display: block;
} 

.lista-menu_titulo,
.lista-menu_item {
    padding: 1.5rem;
    background-color: var(--branco);
}   

.lista-menu_titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu_link {

    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
} 

.container_titulo,.opcoes,.container_texto {
    display: none
}

@media screen and (min-width: 1024px) {
    .container_titulo,
    .titulo_negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        display: flex;
    }
    
    .titulo_negrito {
        font-weight: 700;
    }
    .container_titulo {
        font-weight: 400;
        
    }

    .cabecalho_menu-hamburguer {
        display: none;
    }

    .opcoes {
        display: flex;
    }

    .opcoes_item {
        padding: 0 1em;
        text-transform: uppercase;
        padding: 2em 1em;
    }
    .opcoes_link {
        text-decoration: none;
        color: var(--azul);
    }

    .container_imagem_trasnparente {
        display: none;
    }

    .opcoes_botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes_botao {
        display: none;
    }

    .opcoes_botao:checked~.opcoes_rotulo>.opcoes_item {
        background: var(--azul-degrade);
        color: var(--branco);
    }


    .lista-menu_item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu_item:hover>.lista-menu_link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }


}

@media screen and (min-width: 1728px) {

    .container_link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    
    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto;
    }

    .container_texto {
        display: block;
    }
}